html {
  font-family: Lora, serif;
  color: #fff;

}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  border: 3px solid #2d5a4d;
  background-color: #588477;
  border-top: 3px solid #2d5a4d;
  background-position: .2em center;
  background-size: 64px auto;
  background-repeat: repeat;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border-radius: 8px;
  border: 3px solid #2d5a4d;
}

.nav a:hover {
  background-repeat: no-repeat;
  background-size: 64px auto;
  background-position: center center;
  background-color: #fff;
  color: #145b1d;
  background-image: url("../images/leaf-icon.svg");
}

.banner {
  background-image: linear-gradient(to bottom, rgba(16, 52, 41, 0), rgba(16, 52, 41, .8)), url("../images/banner.jpg");
  background-size: 100% 50%, cover;
  background-repeat: no-repeat;
  background-position: left bottom, center bottom;
}

.banner-content {
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-size: 96px auto;
  background-position: 15px 180px;
  padding-top: 300px;
  color: #fff;

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .banner {
    background-position: bottom left;
  }

}
