html {
  font-family: Lora, serif;
  color: #fff;

}

.masthead {
  background-image: url("../images/www/leaf-bg.svg");
  border: 3px solid #2d5a4d;
  background-color: #588477;

}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border-radius: 8px;
  border: 3px solid #2d5a4d;
}

.nav a:hover {
  color:#2d5a4d;

}

.banner {

}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
